<!DOCTYPE html>
<html>

<body style="background-image:url(https://th.bing.com/th/id/OIP.Z9vqv_6vQvAJ9iD_WImoQQHaEn?pid=ImgDet&rs=1)"</body>





<h1 style="font-size = 1000%">GRADE CALCULATOR</h1>
<form action ="{{url_for('calculate')}} method = "POST">

	<table border= '1' width =600 height = 200>
		<tr>
			<th>Marks</th>
			<th>Weightage</th>
		</tr>
		
		<tr>
			<td><input name = "mark1" type ="text" </td>
			<td><input name = "w1" type ="integer"</td>
		</tr>
		<tr>
			<td><input name = "mark2" type ="text" </td>
			<td><input name = "w2" type ="integer"</td>
		</tr>
		<tr>
			<td><input name = "mark3" type ="text" </td>
			<td><input name = "w3' type ="integer"</td>
		</tr>
































</html>