<html>
    <head><title>FUCK HTML</title></head>
    <body>
        <h1>BMI calculator</h1>

        <form action = "{{url_for('calculate')}}" method = "POST">
            <table>
                <tr>
                    <th><p>Height</p></th>
                    <td>
                        <input type = 'text' name = 'height'>
                    </td>
                </tr>
                <tr>
                    <th><p>Weight</p></th>
                    <td>
                        <input type = "text" name = 'weight'>
                    </td>
                </tr>
                <tr>
                    <th><p><input type = "submit" name = 'submit'></p></th>
                </tr>
    </body>





</html>